html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 'Kumbh Sans';
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    background-color: hsl(185, 75%, 39%);
    background-image: url(../assets/images/bg-pattern-top.svg), url(../assets/images/bg-pattern-bottom.svg);
    background-position: -20vw -70vh, 60vw 70vh;
    background-size: 60%;
    background-repeat: no-repeat;
}

.card{
    width: 350px;
    height: 39.5vh;
    margin: 150px auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 60px hsla(229, 23%, 23%, 0.452);
}

.head{
    background-image: url(../assets/images/bg-pattern-card.svg);
    width: 350px;
    height: 14.8%;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.about {
    position: relative;
    z-index: 10;
    padding-top: 25%;
}

.photo  img{
    border-radius: 50%;
    border: 5px solid white;
}

.name-and-age{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.name-and-age h3{
    font-weight: 700;
    font-size: 1.15rem;
    padding-right: 9px;
}

.name-and-age p {
    font-size: 1.1rem;
    font-weight: 400;
}

.location {
    padding: 12px 0 25px 0;
    font-size: 0.9rem;
    border-bottom: 1px solid hsl(0, 3%, 92%); 
    
}

.stats{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 300px;
    justify-items: center;
}

.stat{
    padding: 28px;
    text-justify: center;
}
.stat h2{
    font-weight: 700;
    font-size: 1.1rem;
}

.stat p{
    font-size: 0.6rem;
    padding-top: 7px;
    letter-spacing: 2px;
}

.stat:nth-child(1){
    margin-left: -8px;
}

.stat:nth-child(2){
    padding-left: 16px;
}

@media only screen and (max-width: 500px){
    body{

        background-position: -30vw -30vh, 50vw 55vh;
        background-size: 120%;
    }
    .card{
        margin-top: 250px;
    }
}